#
# Original ignores (other than the following groups)
argon2
.DS_Store
genkat
.idea
*.pyc
testcase
*.gcda
*.gcno
*.gcov
bench
vs2015/build
Argon2.sdf
Argon2.VC.opendb
*.zip
*.tar.gz

#
# AutoTool's ignores
Makefile
Makefile.in
# AutoClutter directories
/autom4te.cache
/build-aux
# /m4 - keep aux macros under version control
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/config.h.in~
/config.h
/config.log
/config.status
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1

#
# 'C' build process ignores

# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su

# Build files
.deps
.dirstamp

#
# Misc:
*.kate-swp
